---
const { title, description = "Default text", image = "/images/test.jpg" } = Astro.props;
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
</head>
<body class="min-h-screen">
    <Header title={title} />
    <main class="mt-[92px]"> <!-- Adjust this value based on the actual height of your header -->
        <section class="min-h-[calc(100vh-92px)]" style="background-color: #1F232C;">
            <slot name="section1" />
        </section>
        <section class="min-h-screen" style="background-color: #0D0F13;">
            <slot name="section2" />
        </section>
        <section class="min-h-screen" style="background-color: #1F232C;">
            <slot name="section3" />
        </section>
        <section class="min-h-screen" style="background-color: #0D0F13;">
            <slot name="section4" />
        </section>
        <section class="min-h-screen" style="background-color: #1F232C;">
            <slot name="section5" />
        </section>
    </main>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .min-h-[calc(100vh-92px)] {
        min-height: calc(100vh - 92px);
    }
</style>